#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
  border: 1px solid #09276f6e;
  border-radius: 8px;
}

.container {
  padding: 20px 0;
  margin: 0 auto;
}

.container>div {
  width: 100%;
}

h2 {
  text-align: center;
}

.textContainer {
  position: relative;
  flex-grow: 1;
}

.flex-container {
  display: flex;
  column-gap: 30px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: 0 auto;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 2s steps(4) infinite;
}

.loader:before {
  content: "Создаём таблицу..."
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}